@import "tailwindcss";


@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), sans-serif;
}

html {
  scroll-behavior: smooth;
}

:root {
  --background: #f1eeeb;        /* warm cream */
  --foreground: #2f3e34;        /* deep olive text */

  --primary: #70b488;           /* soft sage green */
  --secondary: #d6cfc4;         /* beige clay */
  --accent: #8fb683;            /* pastel green */
  --muted: #ece8e2;             /* page background */
  --font-calistoga: var(--font-calistoga);
}

:root[data-theme="dark"] {
  --background: #1c231f;
  --foreground: #e6ece7;

  --primary: #7fc49a;
  --secondary: #3a443e;
  --accent: #9ecfa4;
  --muted: #262f2a;
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
  --color-muted: var(--muted);
}
